* {
  font-family: "Gilroy-Regular";
}

:root {
  /* width */
  --w-container: 1920px;

  /* color */
  --c-bg-header: #e3d7f1;
  --c-text: #000;
  --c-text-white: #ffffff;
  --c-brand: #a790c6;
  --c-btn-shadow: #b69bdb99;
  --c-bg-token: #edf2ff;
  --c-shadow-token: #d4e0ff;

  /* font-size */

  --fs-text: 25px;

  /* transtion */

  --tr-normal: 0.3s;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}

.content-container {
  max-width: var(--w-container);
  padding: 0 120px;
  margin: 0 auto;
}

a {
  transition: var(--tr-normal);
}

a:hover {
  color: var(--c-text-white);
}

h1,
h2 {
  font-family: "Gilroy-SemiBold";
  font-size: 55px;
}

.button {
  min-width: 260px;
  padding: 16px 0;
  border-radius: 20px;
  background-color: var(--c-brand);
  box-shadow: 0px 3px 10px 0px var(--c-btn-shadow);
  color: var(--c-text-white);
}
