header {
  background: var(--c-bg-header);
  width: 100%;
  padding: 16px 120px;
  font-size: var(--fs-text);
}

header .logo {
  width: 106px;
  height: auto;
}

.nav__item:not(:last-child) {
  margin-right: 102px;
}

.socials {
  gap: 14px;
}
